Gfirm/contig/FCS-GX/Gfirm.clean.p.ctg.fa
Gpenn/contig/Gpenn_p.ctg.fa
Gpenn/contig/FCS-GX/Gpenn.cleaned.p.ctg.fa
Gfirm/scaffold/Gfirm.scaffolds.fa
Gpenn/scaffold/Gpenn.scaffolds.fa
Gfirm/chromosome/Gfirm.chr.final.masked.numt.sorted.renamed.fasta.gz
Gpenn/chromosome/Gpenn.chr.final.masked.numt.sorted.renamed.fasta.gz
Gpenn/Braker3/Gpenn.braker.aa.NoStop
Gpenn/Braker3/Gpenn.braker.aa
Gfirm/Braker3/Gfirm.braker.aa.No.Stop
Gfirm/Braker3/Gfirm.braker.aa
