Gfirm/contig/FCS-GX/Gfirm.clean.p.ctg.fa
Gpenn/contig/Gpenn_p.ctg.fa
Gpenn/contig/FCS-GX/Gpenn.cleaned.p.ctg.fa
Gfirm/scaffold/Gfirm.scaffolds.fa
Gpenn/scaffold/Gpenn.scaffolds.fa
Gfirm/chromosome/Gfirm.chr.final.masked.numt.sorted.renamed.fasta.gz
Gpenn/chromosome/Gpenn.chr.final.masked.numt.sorted.renamed.fasta.gz
Gpenn/Braker3/Gpenn.braker.aa.NoStop
Gpenn/Braker3/Gpenn.braker.aa
Gfirm/Braker3/Gfirm.braker.aa.No.Stop
Gfirm/Braker3/Gfirm.braker.aa
Gpenn/Braker3/Repeats/Gpenn_numts.bed
Gpenn/contig/blobtools/Gpenn.p.extracted.fa
Gpenn/contig/mitogenome_removed/Gpenn.p.clean.mito.fa
Gpenn/Mitogenome/Gpenn_final_mitogenome.fasta
Gfirm/Annotation/Gryllus_firmus_blast.gff3
Gpenn/Annotation/Gryllus_pennsylvanicus_blast.gff3
Paper/Repeat_Features/Gfirm.clean.out
Paper/Repeat_Features/.Rhistory
Paper/Repeat_Features/Gpenn.clean.out
Paper/Repeat_Features/Gfirm.chr.final.fasta.out
Paper/Repeat_Features/Gpenn.chr.final.fasta.out
Paper/Repeat_Features/Gfirm.asm.key.tsv
Paper/Repeat_Features/Gpenn.asm.key.tsv
Paper/Percentage_Softmasked/.Rhistory
